<style type="text/css">
    .be_choiced {
        color: #23b7e5;
    }
</style>

<div class="app-content-body ">
    <div class="hbox hbox-auto-xs hbox-auto-sm">

        <!-- main -->
        <div class="col">
            <!-- main header -->
            <div class="bg-light lter b-b wrapper-md">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <h1 class="m-n font-thin h3 text-black">活跃分析</h1>
                        <small class="text-muted">- 统计新增玩家、新增设备和老玩家、老设备的活跃</small>
                    </div>
                    <div class="col-sm-6 text-right hidden-xs">
                        <div class="inline m-r text-left">
                            <button class="btn m-b-xs btn-sm btn-primary btn-addon" data-toggle="modal"
                                    data-target="#data_filter">
                                <i class="glyphicon glyphicon-filter"></i>数据筛选
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- / main header -->
            <div class="wrapper-md">

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel wrapper" style="border-color: #e0dede;">
                            <label class="i-switch bg-warning pull-right">
                                <input type="checkbox">
                                <i></i>
                            </label>
                            <h4 class="font-thin m-t-none m-b text-muted">活跃图表</h4>
                            <div id="week_report" class="chart-layout" ui-jq="amcharts"
                                 ui-options='{{image_data}}'
                                 ui-config="week_report" style="width: 100%; height: 350px;"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel wrapper" style="border-color: #e0dede;">
                            <label class="i-switch bg-warning pull-right">
                                <input type="checkbox">
                                <i></i>
                            </label>
                            <h4 class="font-thin m-t-none m-b text-muted">活跃设备</h4>
                            <div id="total_pay" ui-jq="amcharts"
                                 ui-options='{{channel_data}}'
                                 ui-config="total_pay" style="height:246px"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel wrapper" style="border-color: #e0dede;">
                            <label class="i-switch bg-warning pull-right">
                                <input type="checkbox">
                                <i></i>
                            </label>
                            <h4 class="font-thin m-t-none m-b text-muted">活跃设备</h4>
                            <div id="device_pay" ui-jq="amcharts"
                                 ui-options='{{os_data}}'
                                 ui-config="device_pay" style="height:246px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main -->
    </div>
</div>


<div class="modal fade" id="data_filter" tabindex="-1" role="dialog" aria-labelledby="data_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="data_form" action="/attend/active" method="POST" data-pjax >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="data_label">
                        筛选条件选择
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_date">
                                        时间:
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_date" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" style="margin-top: 16px;">开始时间: </label>
                                        <div class="col-sm-9">
                                            <div class="input-group w-md">
                                                <input type="text" id="start_time" class="form-control" style="margin-top: 10px;" placeholder="{{start_time}}" value="{{start_time}}" ui-jq="datepicker" ui-options="{
                                            format: 'yyyy-mm-dd',
                                            language: 'zh-CN',
                                            autoclose: true,
                                            clearBtn: true,
                                            todayBtn: true,
                                            }" class="form-control w-md" name="start_time" readonly />
                                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"  style="margin-top: 10px;"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" style="margin-top: 16px;">结束时间: </label>
                                        <div class="col-sm-9">
                                            <div class="input-group w-md">
                                                <input type="text" id="end_time" class="form-control" style="margin-top: 10px;" placeholder="{{end_time}}" value="{{end_time}}" ui-jq="datepicker" ui-options="{
                                            format: 'yyyy-mm-dd',
                                            language: 'zh-CN',
                                            autoclose: true,
                                            clearBtn: true,
                                            todayBtn: true,
                                            }" class="form-control w-md" name="end_time" readonly />
                                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"  style="margin-top: 10px;"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_device">
                                        设备:
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_device" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" style="padding-top: 7px;">选择: </label>
                                        <div class="col-sm-10">
                                            <div class="checkbox">
                                                <label class="checkbox-inline i-checks">
                                                    <input class="check-all" data-target="collapse_device" type="radio" value="all" name="device_func" />
                                                    <i></i>
                                                    全选
                                                </label>
                                                <label class="checkbox-inline i-checks">
                                                    <input class="check-cancel" data-target="collapse_device" type="radio" value="cancel" name="device_func" />
                                                    <i></i>
                                                    取消
                                                </label>
                                            </div>
                                            <div class="line line-dashed b-b line-lg pull-in"></div>

                                            {% for index,detail in device %}
                                            <label class="checkbox-inline i-checks" style="margin-left: 0; margin-right: 10px;">
                                                <input type="checkbox" value="{{detail['name']}}" name="choice_device[]" />
                                                <i></i>
                                                {{detail['ch']}}
                                            </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_channel">
                                        渠道:
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_channel" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" style="padding-top: 10px;">选择: </label>
                                        <div class="col-sm-10">
                                            <div class="checkbox">
                                                <label class="checkbox-inline i-checks">
                                                    <input class="check-all" data-target="collapse_channel" type="radio" value="all" name="channel_func" />
                                                    <i></i>
                                                    全选
                                                </label>
                                                <label class="checkbox-inline i-checks">
                                                    <input class="check-cancel" data-target="collapse_channel" type="radio" value="cancel" name="channel_func" />
                                                    <i></i>
                                                    取消
                                                </label>
                                            </div>
                                            <div class="line line-dashed b-b line-lg pull-in"></div>

                                            {% for index,detail in channel %}
                                            <label class="checkbox-inline i-checks" style="margin-left: 0; margin-right: 10px;">
                                                <input type="checkbox" value="{{detail['name']}}" name="choice_channel[]" />
                                                <i></i>
                                                {{detail['ch']}}
                                            </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                    <button type="button" class="btn btn-primary" id="confirm_filter">确定</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script type="text/javascript">

    var amChartConfig = {
        "total_pay": {
            "type": "pie",
            "angle": 30,
            "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
            "depth3D": 6,
            "colors": [
                "#B0DE09",
                "#04D215",
                "#0D8ECF",
                "#0D52D1",
                "#2A0CD0",
                "#8A0CCF",
                "#CD0D74",
                "#754DEB",
                "#DDDDDD",
                "#999999",
                "#333333",
                "#000000",
                "#57032A",
                "#CA9726",
                "#990000",
                "#4B0C25"
            ],
            "titleField": "category",
            "valueField": "column-1",
            "allLabels": [],
            "balloon": {},
            "legend": {
                "enabled": true,
                "align": "center",
                "markerType": "circle"
            },
            "titles": []
        },
        "device_pay": {
            "type": "pie",
            "angle": 30,
            "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
            "depth3D": 6,
            "colors": [
                "#B0DE09",
                "#04D215",
                "#0D8ECF",
                "#0D52D1",
                "#2A0CD0",
                "#8A0CCF",
                "#CD0D74",
                "#754DEB",
                "#DDDDDD",
                "#999999",
                "#333333",
                "#000000",
                "#57032A",
                "#CA9726",
                "#990000",
                "#4B0C25"
            ],
            "titleField": "category",
            "valueField": "column-1",
            "allLabels": [],
            "balloon": {},
            "legend": {
                "enabled": true,
                "align": "center",
                "markerType": "circle"
            },
            "titles": []
        }
    };

    amChartConfig["week_report"] = {
        "type": "serial",
        "categoryField": "category",
        "colors": [
            "#B0DE09",
            "#0D8ECF",
            "#2A0CD0",
            "#CD0D74",
            "#CC0000",
            "#00CC00",
            "#0000CC",
            "#DDDDDD",
            "#999999",
            "#333333",
            "#990000"
        ],
        "startDuration": 1,
        "categoryAxis": {
            "gridPosition": "start"
        },
        "trendLines": [],
        "guides": [],
        "valueAxes": [
            {
                "id": "ValueAxis-1",
                "title": ""
            }
        ],
        "allLabels": [],
        "balloon": {},
        "legend": {
            "enabled": true
        },
        "titles": [
            {
                "id": "Title-1",
                "size": 15,
                "text": ""
            }
        ]
    };

    // 图像插件显示区域配置
    var chartGraphsTmp = {};
    /**
     * des: 参数说明
     * bolloonText: 描述格式化
     * type: 曲线的类型, 圆角, 直线等等
     * fillAlphas: 填充区域的透明度
     * id: 索引
     * lineAlpha: 曲线的透明度
     * title: 文字索引
     * valueField: 取值对应索引
     */
    chartGraphsTmp["week_report"] = {
        "balloonText": "[[title]] of [[category]]:[[value]]",
        "type": "smoothedLine",
        "fillAlphas": 0.7,
        "id": "AmGraph-1",
        "lineAlpha": 1,
        "title": "graph 1",
        "valueField": "column-1"
    };

    // 显示区域数据模型
    var chartTmpDetail = {};
    chartTmpDetail["week_report"] = JSON.parse('' +
            '[{"id":"active_account","field":"active_account","title":"活跃账号数"},' +
            '{"id":"active_device","field":"active_device","title":"活跃设备数"}]');

    $(document).ready(function () {
        var clear_form = function (addr) {
            var _form = $(addr);
            _form.find('input').each(function (i) {
                $(this).attr('checked', false);
            });
        };

        // 全选
        $( '.check-all' ).click( function()
        {
            var target = $( this ).attr( "data-target" );
            $( '#'+target ).find( 'input[type="checkbox"]' ).each( function()
            {
                $( this ).prop( "checked", true );
            } );
        } );

        // 取消全选
        $( '.check-cancel' ).click( function()
        {
            var target = $( this ).attr( "data-target" );
            $( '#'+target ).find( 'input[type="checkbox"]' ).each( function()
            {
                $( this ).prop( "checked", false );
            } );
        } );

        // 数据过滤表单提交
        $( '#confirm_filter' ).click( function()
        {
            var _form = $( '#data_form' );

            $('.modal').map(function() {
                $(this).modal('hide');
                $('.modal-backdrop').remove();
                $("body").removeClass("modal-open");
            });

            loading();
            _form.submit();
        } );

        // 解决 chosen 在 model 中不能正常加载问题
//        $('#data_filter').on('shown.bs.modal', function () {
//            $('#server_list', this).chosen('destroy').chosen({width: "inherit"});
//        });

        // 监听 bootstrap collapse 事件, 并相应添加自定义处理
        $('body').on('click.collapse.data-api', '[data-toggle=collapse]', function (e) {
            var _that = $(this);

            $('body').find('[data-toggle=collapse]').each(function () {
                var href = $(this).attr('href'),
                        _that = $(this);
                var tmp = '[<span class="be_choiced">{replace}</span>]';

                switch (href) {
                    case '#collapse_date':
                        var _start_time = $('#start_time'),
                                _end_time = $('#end_time');

                        if (_start_time.val() != '' && _end_time.val() != '') {
                            _that.html('时间: ' + tmp.replace('{replace}', _start_time.val() + ' - ' + _end_time.val()));
                        }
                        else {
                            _that.html('时间:');
                        }
                        break;
                    case '#collapse_server':
                        var _val = $('#server_list').chosen().val();

                        if (_val != 'init') {
                            _that.html('选中区服: ' + tmp.replace('{replace}', _val));
                        }
                        else {
                            _that.html('区服:');
                        }
                        break;
                    case '#collapse_os':
                        var _os = [];

                        $('#collapse_os').find('input[name="choice_os[]"]').each(function () {
                            if ($(this).is(':checked')) {
                                _os.push($(this).val());
                            }
                        });

                        if (_os.length >= 1) {
                            if (_os.length >= 6) {
                                _that.html('选中系统: ' + tmp.replace('{replace}', '6+'));
                            }
                            else {
                                _that.html('选中系统: ' + tmp.replace('{replace}', _os.join()));
                            }
                        }
                        else {
                            _that.html('系统:');
                        }
                        break;
                    case '#collapse_state':
                        var _state = '';

                        console.log($('#collapse_state').find('input[name="choice_state"]:checked').val());
                        break;
                    case '#collapse_channel':
                        var _channel = [];

                        $('#collapse_channel').find('input[name="choice_channel[]"]').each(function () {
                            if ($(this).is(':checked')) {
                                _channel.push($(this).val());
                            }
                        });

                        if (_channel.length >= 1) {
                            if (_channel.length >= 6) {
                                _that.html('选中渠道: ' + tmp.replace('{replace}', '6+'));
                            }
                            else {
                                _that.html('选中渠道: ' + tmp.replace('{replace}', _channel.join()));
                            }
                        }
                        else {
                            _that.html('渠道:');
                        }
                        break;
                }
            });
        });
    });
</script>